In [430]:
import numpy as np
import pandas as pd
import itertools as it
from collections import Counter

In [431]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1447,tt0206634,76000000,69959751,Children of Men,Clive Owen|Michael Caine|Julianne Moore|Charli...,Alfonso CuarÃ³n,The future's a thing of the past.,"In 2027, in a chaotic world in which humans ca...",109,Drama|Action|Thriller|Science Fiction,Universal Pictures|Strike Entertainment|Hit & ...,9/22/2006,7.3,2006
86,tt3850590,15000000,61548707,Krampus,Adam Scott|Toni Collette|Allison Tolman|David ...,Michael Dougherty,You don't want to be on his list.,A horror comedy based on the ancient legend ab...,98,Horror|Comedy|Fantasy,Universal Pictures|Legendary Pictures,11/26/2015,5.9,2015
235,tt2039393,25000000,39171130,The Gambler,Mark Wahlberg|John Goodman|Brie Larson|Michael...,Rupert Wyatt,The only way out is all in,Literature professor and gambler Jim Bennett's...,111,Thriller|Crime|Drama,Paramount Pictures|Winkler Films,12/25/2014,5.6,2014
160,tt1253863,110000000,337580051,300: Rise of an Empire,Sullivan Stapleton|Eva Green|Lena Headey|Calla...,Noam Murro,Seize your glory!,Based on Frank Miller's latest graphic novel X...,102,Action|War,Legendary Pictures|Hollywood Gang Productions|...,3/5/2014,6.1,2014
1694,tt0389790,150000000,287594577,Bee Movie,Jerry Seinfeld|RenÃ©e Zellweger|Matthew Broder...,Steve Hickner|Simon J. Smith,Born to bee wild.,"Barry B. Benson, a bee who has just graduated ...",91,Family|Animation|Adventure|Comedy,Pacific Data Images (PDI)|DreamWorks Animation...,10/28/2007,5.6,2007

# Предобработка

In [432]:
answers = {}
data['profit'] = data.revenue - data.budget
data['month'] = pd.to_datetime(data.release_date).dt.month

# 1. У какого фильма из списка самый большой бюджет?

In [433]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [434]:
data.sort_values(['budget'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [435]:
answers['2'] = 'Gods and Generals'

In [436]:
data.sort_values(['runtime'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [437]:
answers['3'] = 'Winnie the Pooh'

In [438]:
data.sort_values(['runtime'],ascending=True).head(1).original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [439]:
answers['4'] = 109.6585494970884

In [440]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [441]:
answers['5'] = 107.0

In [442]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [443]:
answers['6'] = 'Avatar'

In [444]:
data.sort_values(['profit'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [445]:
answers['7'] = 'The Lone Ranger'

In [446]:
data.sort_values(['profit'],ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [447]:
answers['8'] = 1478

In [448]:
data[data['profit'] > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [449]:
answers['9'] = 'The Dark Knight'

In [450]:
data.loc[data['release_year'] == 2008].sort_values(by = 'profit', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [451]:
answers['10'] = 'The Lone Ranger'

In [452]:
data.loc[(2012 <= data['release_year']) & (data['release_year'] <= 2014)].sort_values(by = 'profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [453]:
answers['11'] = 'Drama'

In [454]:
count_film = data.copy()
count_film.genres = count_film.genres.str.split('|')
count_genres = count_film.explode('genres').genres
count_genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [455]:
answers['12'] = 'Drama'

In [456]:
count_film = data[data.profit > 0].copy()
count_film.genres = count_film.genres.str.split('|')
count_genres = count_film.explode('genres').genres
count_genres.value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [457]:
answers['13'] = 'Peter Jackson'

In [458]:
profit_film = data[data.profit > 0].copy()
profit_film.director = profit_film.director.str.split('|')
director_sums = profit_film.explode('director')
director_sums.groupby("director").revenue.sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [459]:
answers['14'] = 'Robert Rodriguez'

In [460]:
sums_genres = data.copy()
sums_genres.genres = sums_genres.genres.str.split('|')
sums_genres = sums_genres.explode('genres')
sums_genres.director = sums_genres.director.str.split('|')
director_sums_genres = sums_genres.explode('director')
genre_count = director_sums_genres.loc[director_sums_genres['genres'] == "Action"].director.value_counts().sort_values(ascending = False)
genre_count.head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [461]:
answers['15'] = 'Chris Hemsworth'

In [462]:
cast_data = data.copy()
cast_data.cast = cast_data.cast.str.split('|')
cast_data = cast_data.explode('cast')
cast_data = cast_data.loc[cast_data['release_year'] == 2012]
cast_by_revenue_data = cast_data.groupby('cast').revenue.sum().sort_values(ascending = False)
cast_by_revenue_data.head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [463]:
answers['16'] = 'Matt Damon'

In [464]:
cast_data = data.copy()
cast_data.cast = cast_data.cast.str.split('|')
cast_data = cast_data.explode('cast')
cast_by_budget_data = cast_data.loc[cast_data['budget'] > cast_data['budget'].mean() ]
cast_by_budget_data = cast_by_budget_data.cast.value_counts().sort_values(ascending = False)
cast_by_budget_data.head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [465]:
answers['17'] = 'Action'

In [466]:
genres_data = data.copy()
genres_data.cast = genres_data.cast.str.split('|')
genres_data = genres_data.explode('cast')
genres_data.genres = genres_data.genres.str.split('|')
genres_data = genres_data.explode('genres')
genres_by_actor_data = genres_data.loc[genres_data['cast'] == 'Nicolas Cage' ].genres.value_counts()
genres_by_actor_data.head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [467]:
answers['18'] = 'K-19: The Widowmaker'

In [468]:
paramount_data = data[data['production_companies'].str.contains('Paramount Pictures')]
paramount_data[['profit', 'original_title', 'production_companies']].sort_values('profit', ascending=True).head(1)

,profit,original_title,production_companies
925,-64831034,K-19: The Widowmaker,Paramount Pictures|Intermedia Films|National G...

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [469]:
answers['19'] = '2015'

In [470]:
year_by_revenue_data = data.copy()
year_by_revenue_data = year_by_revenue_data.groupby('release_year').revenue.sum().sort_values(ascending = False)
year_by_revenue_data.head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [471]:
answers['20'] = '2014'

In [472]:
production_companies_data = data.copy()
production_companies_data.production_companies = production_companies_data.production_companies.str.split('|')
production_companies_data = production_companies_data.explode('production_companies')
warner_data = production_companies_data[production_companies_data['production_companies'].str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending = False)
warner_data.head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [475]:
answers['21'] = 9

In [476]:
data['month'].value_counts().head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [477]:
answers['22'] = 450

In [478]:
data.loc[(data['month'] >= 6) & (data['month'] <= 8)].month.value_counts().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [479]:
answers['23'] = 'Peter Jackson'

In [480]:
directors_data = data.copy()
directors_data.cast = directors_data.director.str.split('|')
directors_data = directors_data.explode('director')
winter_films_by_director_data = directors_data.loc[(directors_data['month'] == 12) | (directors_data['month'] == 1) | (directors_data['month'] == 2)].director.value_counts()
winter_films_by_director_data.head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [481]:
answers['24'] = 'Four By Two Productions'

In [482]:
production_companies_data = data.copy()
production_companies_data.production_companies = production_companies_data.production_companies.str.split('|')
production_companies_data = production_companies_data.explode('production_companies')
production_companies_data['name_count'] = production_companies_data.original_title.str.len()
production_companies_data.groupby('production_companies').name_count.mean().sort_values(ascending = False).head(1)

production_companies
Four By Two Productions    83.0
Name: name_count, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [483]:
answers['25'] = 'Midnight Picture Show'

In [484]:
production_companies_data = data.copy()
production_companies_data.production_companies = production_companies_data.production_companies.str.split('|')
production_companies_data = production_companies_data.explode('production_companies')
production_companies_data.overview = production_companies_data.overview.str.split(' ')
production_companies_data['name_count'] = production_companies_data.overview.str.len()
production_companies_data.groupby('production_companies').name_count.mean().sort_values(ascending = False).head(1)

production_companies
Midnight Picture Show    175.0
Name: name_count, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [485]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']

In [486]:
title_data = data.copy()
title_data = title_data.sort_values(by = 'vote_average', ascending = False)
title_data.original_title.head(int(data_title.shape[0]*.01))

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [488]:
answers['27'] = ('Daniel Radcliffe', 'Rupert Grint')

In [489]:
cast_combinations_data = data.copy()
cast_combinations_data['cast'] = cast_combinations_data['cast'].str.split('|')
cast_combinations_data['cast'] = cast_combinations_data['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2)))
cast_combinations_data['cast'].explode().value_counts().head(1)

(Daniel Radcliffe, Rupert Grint)    8
Name: cast, dtype: int64

# Submission

In [490]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [491]:
len(answers)

27